@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --bg: #f1f1f1;
    --txt: black;

}

body {
    font-family: "Roboto", sans-serif;

}

.center {
    display: grid;
    place-items: center;
}


.head-style {
    display: grid;
    place-items: center;
    border: 1px;
    border-bottom-style: solid;
    border-color: #e2e8f0;
}

.svg-class {
    width: 200px;
    height: 85px;

}

.center.cont {
    font-weight: bold;
}

.cadastrarbtn{
    background-color: green;
}

a {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    border-color: #cbd5e0;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 12px;
    text-decoration: none;
    margin-bottom: 0.5rem;
    width: 400px;
    color: #757070;
}

a:nth-child(2) {
    background-color: rgb(59 89 152);
    color: white;
}

a:nth-child(3) {
    background-color: black;
    color: white;
}

.input-grid {
    display: grid;
}

.form-label {
    color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-right: 5px;
    align-items: center;
    font-size: 20px;

}
.form-control{
    font-size: 20px;
    padding:6px;
    margin-bottom: 10px;
    color: #757070;
}
.input {
    padding: 15px;
    width: 400px;
}

.input:nth-child(2) {
    margin-bottom: 15px;
}

.form-down {
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
}

.form-down button {
    background-color: #1DB954;
    color: white;
    width: 435px;
    border: none;
    font-size: large;
}

.btn-primary{
    cursor: pointer;
    color: black;
    font-size: 30px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1DB954;

}